* {margin: 0;}

body, 
html {height: 100%;}

h1, h2, h3 {font-family: "Fantasy";}

h4 {font-family: "Open Sans";}

header #header {padding: 0 16px 40px; text-align: center;}

header h1 {font-size: 82px;	font-weight: 500; line-height: 1em;}
header h4 {font-size: 18px; margin: 10px 0;}


p {font: 100 17px/27px 'Georgia', sans-serif; color: #333333; margin-bottom: 10px; margin-top: 10px;}

ul {padding-left: 20px;}

span {font-weight: bold; color: #444;}

.row-01 {
		clear: both;
	}
.row-content-bl {
	padding: 16px;
	}
.-center {
	text-align: center;
}

.-spacer {
	margin-bottom: 10px;
}
.row-content-05,
.row-content-05-right,
.row-content-01 {
	padding: 40px 16px;
	}
	.row-content-01 h2 {
		font-family: "Open Sans";
		font-weight: 500;
		line-height: 35px;
		color: white;
		}
	
	.row-content-vid {
		position: relative;
    	overflow: hidden;
    	padding-top: 56.25%;
		}

		.vid-iframe {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    border: 0;
		}

	.banner-1 {
		background: #000; 
		text-align: center;
	}

	.ctaButton a {
		background: red;
		color: white; 
		font: 400 14px 'Open Sans', sans-serif;
		text-decoration: none;
		padding: 15px 30px; 
		border-radius: 3px; 
		margin-top: 24px; 
		display: -webkit-inline-box;
	}


/*Blogs***************************************/
	img {
		width: 100%;
	}
	.nav-btn {
		display: block; 
		float: left; 
		width: 50%; 
		text-align: center; 
		padding: 22px 0;
	}
	.nav-btn a {
		text-decoration: none;
		font: normal 16px 'Open Sans', sans-serif;
		color: #039be5;
	}
/***************************************************/

	.container {
		width: 100%;
		display: inline-block;
		margin-bottom: 50px;
	}

	.logo-container {
	    width: 90%;
	    padding: 2%;
	    background-color: #fff;
	    border-radius: 3px;
	    margin: auto;
	}

	#defn {
		text-transform: uppercase;
    	font-family: Open sans;
    	font-weight: 800;
    	text-align: center;
    	color: orangered;
    	margin: 32px;
	}

	#row-partners {
		background-color: #f7f7f7; 
		overflow: hidden; 
		text-align: center;
	}

	#box {
		border: 2px red solid; 
		padding: 60px 40px; 
		margin: 20px 0;
		line-height: 28px;
		text-align: center;
	}

footer {
	clear: both;
	background: #0C2B57;
}

	.footie {
		padding: 5px 40px;
		box-sizing: border-box;
	}

		.footie#leftie, .footie#rightie {
			text-align: center;
		}

		.footie a, .footie p {
			color: white;
			font-size: 14px;
			font-family: 'Open Sans', sans-serif;
		}

		.footie a {
			text-decoration: none;
		}

/*ipad & tabs*****************************/
@media only screen and (min-width: 600px) {

	header #header {
		padding: 0 80px;
	}

	.row-01 {
		clear: both;
	}

	.row-05 {
		width: 50%; 
		float: left;
	}

	.row-content-05 {
		padding: 60px 20px 60px 80px;
		/*pad the left*/
	}
	.row-content-vid {
		margin: 60px 80px 60px 20px;
		/*pad the right*/
	}
	
	.row-content-05-right {
		padding: 60px 80px 60px 20px;
		/*pad the right*/
	}

	.row-content-01 {
		padding: 60px 80px;
	}

	.row-content-bl {
		padding: 30px 80px;
	}
	
img {
		width: 80%;
		display: block;
		margin: auto;
	}

img.logo {
		display: flex;
		justify-content: center;
		height: 50px; /*important height*/
		}	
.container {
	display: block;
	margin-bottom: 0;
}
.logo-container {
		float: left;
		background-color: #fff;
	    width: 28%;
	    margin: 1.66%;
	    padding: 6px;
	    border-radius: 3px;
}

footer {
	clear: both;
}
	.footie {
		width: 50%; 
		float: left;
		padding: 20px 40px;
		background: #0C2B57;
	}
	.footie#leftie {
		text-align: left;
	}
	.footie#rightie {
		text-align: right;
	}
}

/*laptops & above*************************/
@media only screen and (min-width: 769px) {

	header #header {
		padding-bottom: 0; 
	}

	header #header h1 {
		font-size: 58px;
	}
	header #header h4 {
		font-size: 19px;
	}
	.row-content-05 {
		padding: 60px 20px 60px 120px;
		/*pad the left*/
	}
	.row-content-vid {
		margin: 60px 120px 60px 20px;
		/*pad the right*/
		padding-top: 40%;
	}
	.row-content-05-right {
		padding: 60px 120px 60px 20px;
		/*pad the right*/
	}
	
	.row-content-01 {
		padding: 60px 120px;
	}

	.row-content-bl {
		padding: 30px 17%;
	}

	img {
		width: 65%;
		display: block;
		justify-content: center;
		margin: auto;
	}

	img.logo {
		height: 80px;
	}

	

}	