* {
	margin: 0;
    box-sizing: border-box;
}

body, html {
	height: 100%;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

p {
	font: 400 16px 'Roboto', sans-serif;;
	line-height: 24px;
    color: #212121;
}

/***.row {width: 50%; float: left;}***/

/*.row:nth-child(even){
	background: #f7f7f7;
}*/

.rowContent {padding: 40px;}
	.rowContent h2 {margin-bottom: 20px; font-weight: normal;}

.resp-container {
		position: relative;
    	overflow: hidden;
    	padding-top: 56.25%;
	}

		.resp-iframe {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    border: 0;
		}	

footer {
	clear: both;
	background: black;
	color: white;
}
	

/*ipad and bigger*******************************************/
@media only screen and (min-width: 600px) {

	.row {width: 50%; float: left;}
	.rowContent {
		width: 90%;
		margin: auto;
	}
	.resp-container {
		margin: 40px;
	}
	
}